@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.featured-listings-container {
    display: flex;
    flex-direction: column;
   
   
    margin-bottom: 50px;
    width: 100%;
    margin-top: 80px;
    font-family: "Inter";
}
.featured-listings-grid {
    display: flex;
    justify-content: space-between;
}
.featured-listing-card {
    text-align: left;
    font-size: 24px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.featured-image {
    width: 500px;
    height: 370px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.featured-address {
    font-size: 22px;
    margin-top: 10px;
    text-transform: uppercase;
    color: rgb(5, 19, 78);
}
#city {
    position: relative;
    font-size: 18px;
    padding-bottom: 10px; /* space for the border */
    text-align: left;
    color: rgb(104, 103, 103);
}

#city::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0; /* align to the left */
    width: 60px; /* set the desired shorter length */
    height: 2px;
    background-color: rgb(5, 19, 78);
}

.featured-price {
    font-size: 25px;
    margin-top: 20px;
    font-weight: bold;
    color: rgb(5, 19, 78);
}
#featured-more-listings {
    margin-top: 30px;
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: bold;
    background-color: transparent;
    border: none;
    padding: 0;
}
#featured-more-listings:hover {
    cursor: pointer;
}
@media (max-width: 1550px) {
    .featured-image {
        width: 340px;
        height: 275px;
    }

}

@media (max-width: 1024px) {
 .featured-listings-container{
    margin: 20px 0 0 0;
 }

    .featured-listings-grid {
        display: flex;
        flex-direction: column; /* Change to column layout */
        align-items: center; /* Center the items vertically */
     
    }

    .featured-listing-card {
        margin-bottom: 20px; /* Add spacing between items */
    }

    .featured-image {
    min-width: 95vw;
        max-width: 95vw;
        min-height: 40vh;
        max-height: 40vh;
        
    }
    .featured-address, .featured-price{
        margin-left: 10px;
        font-size: 20px;
    }
    #city{
        font-size: 15px;
    }
    #featured-more-listings{
        margin-left: 5px;
        padding-bottom: 20px;
    }
}
