/* Container */
#buyersguide-article {
  max-width: 60%;
  margin: 0 auto;
  margin-top: 50px;

  padding: 0 20px;
  padding-bottom: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.2;
  color: #333;
}
.buyers-page-container{
  background-color: white;
}

#buyersguide-article h1.buyersguide-title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #000000;
  border-bottom: 3px solid #000000;
  padding-bottom: 0.3rem;
}

#buyersguide-article h2.buyersguide-subtitle {
  font-size: 1.9rem;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  color: #000000;
  border-bottom: 2px solid #000000;
  padding-bottom: 0.25rem;
}

#buyersguide-article h3.buyersguide-step-title {
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 0.8rem;
  color: #000000;
}


#buyersguide-article p.buyersguide-paragraph {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}


#buyersguide-article ul.buyersguide-list {
  list-style-type: disc;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}

#buyersguide-article ul.buyersguide-list li.buyersguide-list-item {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}


#buyersguide-article strong.buyersguide-strong {
  color: #000000;
}



#buyersguide-article a.buyersguide-link {
  color: #000000;
  text-decoration: underline;
}

#buyersguide-article a.buyersguide-link:hover {
  color: #000000;
}


@media (max-width: 480px) {
  #buyersguide-article {
    padding: 0 10px;
  }

  #buyersguide-article h1.buyersguide-title {
    font-size: 2rem;
  }

  #buyersguide-article h2.buyersguide-subtitle {
    font-size: 1.5rem;
  }

  #buyersguide-article h3.buyersguide-step-title {
    font-size: 1.2rem;
  }
}
@media (max-width: 1024px) {
  #buyersguide-article{
    max-width: 95vw;
  }
}