.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightgrey;
    height: 980px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.hero-title-and-button{
    margin-left: 50px ;
    font-size: 60px;
}
.hero-team-image{
    height: 900px;
    width: 1000px;
    margin-right: 50px;
    border-radius: 50px;
    background-size: cover;
    background-position:  center calc(50% + 150px);
    background-repeat: no-repeat;
}
