.contact-page-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 50px;
    background-color: white;
}

.contact-page-team-image {
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: 0px -330px;
    background-repeat: no-repeat;
}
@media (max-width: 1024px) {
    .contact-page-team-image {
        max-width: 100vw;
        max-height: 25vh;
        background-position: 0px;
    }
    .contact-page-container{
        padding: 0 0 20px 0;
    }
}
