.contact-form-container {
    display: flex;
    align-items: left;
    justify-content: space-between;
    font-family: "Poppins";
   
    
}
#contact-form-title{
 font-size: 50px;
 margin: 0;
 font-weight: 300;
 
}
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 820px;
    height: 700px;
    gap: 30px;
    margin-top: 50px;

 

    
   
}
.contact-form input {
    height: 2rem;
    width: 50rem;
    font-size: 20px;
    background: none;
    border: none;
    border-bottom: 2px solid black;
    font-family: "Poppins";
   
}

.contact-form textarea {
    height: 10rem;
    width: 50rem;
    max-width: 50rem;
    min-width: 50rem;
    font-size: 20px;
    font-family: "Poppins";
   
}


.contact-form button {
    width: 150px;
    height: 40px;
    font-size: 35px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    font-family: "Montserrat";
    margin-top: 20px;
    margin-bottom: 10px;

}
.contact-form button:hover {
    cursor: pointer;
}
.contact-form select {
  width: 50rem;
  font-size: 20px;
  background: linear-gradient(#dfdfdf,#ffffff );
  font-family: "Poppins";
  height: 2.5rem;
  color: #000;
}


